<div class="col recipe-card">
  <div class="card shadow-sm">
    <%= link_to recipe_path(recipe) do %>
      <% if recipe.images.attached? %>
        <%= image_tag url_for(recipe.images.first), alt: recipe.title, class: "card-img-top" %>
      <% else %>
        <%= image_tag asset_path('no-image.png'), alt: recipe.title, class: "card-img-top" %>
      <% end %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title">
        <%= link_to recipe.title, recipe_path(recipe), class: "text-decoration-none text-dark" %>
      </h5>
      <p class="card-text small d-flex align-items-center">
        <% if recipe.user.avatar.attached? %>
          <%= image_tag recipe.user.avatar, class: "user-avatar me-2", alt: "投稿者アイコン" %>
        <% else %>
          <%= image_tag "no-man.png", class: "user-avatar me-2", alt: "デフォルトアイコン" %>
        <% end %>
        <%= link_to recipe.user.name, user_path(recipe.user), class: "text-decoration-none" %>
      </p>
      <p class="card-text small text-muted"><%= recipe.created_at.strftime("%Y-%m-%d %H:%M") %></p>

      <div class="d-flex justify-content-start gap-3 mt-2">
        <%= render "recipes/like_button", recipe: recipe %>
        <%= render "recipes/favorite_button", recipe: recipe %>
      </div>
    </div>
  </div>
</div>
