<h1>レシピを編集</h1>

<%= form_with model: @recipe, local: true do |f| %>

  <div>
  <%= f.label :category_id, "カテゴリ" %>
  <%= f.collection_select :category_id, @categories, :id, :name, { prompt: "選択してください" }, { id: "parent_category", data: { selected: @recipe.category_id } } %>
</div>

<div>
  <%= f.label :child_category_id, "カテゴリ" %>
  <%= f.select :child_category_id, [], { prompt: "選択してください" }, { id: "child_category", data: { selected: @recipe.child_category_id } } %>
</div>

<div>
  <%= f.label :grandchild_category_id, "カテゴリ" %>
  <%= f.select :grandchild_category_id, [], { prompt: "選択してください" }, { id: "grandchild_category", data: { selected: @recipe.grandchild_category_id } } %>
</div>


  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, value: @recipe.title %>
  </div>

  <div>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description, value: @recipe.description %>
  </div>

  <div>
    <%= f.label :image, "画像" %>
    <div id="image-preview">
    <% if @recipe.images.attached? %>
    <div id="image-preview-container">
      <% @recipe.images.each do |image| %>
        <div style="display: inline-block; margin-right: 10px; position: relative;">
          <%= image_tag url_for(image), width: "150", height: "150", style: "object-fit: cover; border-radius: 8px;" %>
          <!-- 画像削除ボタン（後述） -->
          <%= check_box_tag "remove_images[]", image.id %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div id="image-preview-container">
      <img id="preview-image" src="<%= asset_path('no-image.png') %>" alt="プレビュー画像" style="width: 150px; height: 150px;">
    </div>
  <% end %>
  
    </div>

    <div>
      <%= check_box_tag "remove_image" %>
      <%= label_tag "remove_image", "画像を削除する" %>
    </div>

    <%= f.file_field :image, id: "image-input" %>
  </div>


  <div>
    <%= f.submit "更新する" %>
  </div>

<% end %>

<%= link_to "戻る", recipes_path %>
