<h1 class="page-title mb-4 fs-2"><%= @recipe.title %></h1>
<p><strong><%= @recipe.user.name %></strong></p>
<p><strong>カテゴリ:</strong> <%= @recipe.category_hierarchy.map(&:name).join(">") %></p>

<% if @recipe.images.attached? %>
  <div id="recipeCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @recipe.images.each_with_index do |image, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag url_for(image), class: "d-block w-100", style: "max-height: 400px; object-fit: contain;" %>
        </div>
      <% end %>
    </div>

    <% if @recipe.images.length > 1 %>
      <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">前へ</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">次へ</span>
      </button>
    <% end %>
  </div>
<% elsif @recipe.image&.attached? %>
  <%= image_tag url_for(@recipe.image), width: "300", height: "300" %>
<% else %>
  <%= image_tag asset_path('no-image.png'), width: "300", height: "300" %>
<% end %>


<p><strong>説明:</strong> <%= @recipe.description %></p>

<div class="button-wrapper">
    <%= render "recipes/like_button", recipe: @recipe %>
    <%= render 'recipes/favorite_button', recipe: @recipe %>
</div>

<% if current_user && @recipe.user&.id == current_user.id %>
  <%= link_to "編集", edit_recipe_path(@recipe) %>
  <%= link_to "削除", recipe_path(@recipe), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>

<br><%= link_to "戻る", recipes_path %></br>
