<main class="profile-form-wrapper mx-auto" style="max-width: 700px; padding-top: 100px;">
<h1 class="page-title mb-4 fs-2">プロフィール編集</h1>
  <div class="container mt-5">
    <div class="card p-4 shadow">
      <%= form_for @user, url: user_path(@user), method: :patch, html: { multipart: true } do |f| %>

        <div class="mb-3 border-bottom pb-2 d-flex align-items-center">
          <div class="fw-bold me-3" style="min-width: 100px;">アイコン</div>
          <div>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, id: "avatar-preview", class: "user-avatar-preview" %>
            <% else %>
              <%= image_tag "no-man.png", id: "avatar-preview", class: "user-avatar-preview" %>
            <% end %>
            <%= f.file_field :avatar, id: "avatar-input", class: "form-control mt-2" %>

            <% if @user.avatar.attached? %>
              <%= f.hidden_field :remove_avatar, value: false, id: "remove-avatar-hidden" %>
              <button type="button" id="remove-avatar-btn" class="profile-btn-cancel mt-2">
                削除
              </button>
            <% end %>

          </div>
        </div>

        <div class="mb-3 border-bottom pb-2 d-flex">
          <div class="fw-bold me-3" style="min-width: 100px;">ユーザー名</div>
          <div><%= f.text_field :name, class: "form-control" %></div>
        </div>

        <div class="mb-3 border-bottom pb-2 d-flex">
          <div class="fw-bold me-3" style="min-width: 100px;">プロフィール</div>
          <div><%= f.text_area :profile, class: "form-control profile-textarea" %></div>
        </div>

        <div class="text-end mt-4">
          <%= f.submit "更新する", class: "btn-green me-2" %>
          <%= link_to "キャンセル", user_path(@user), class: "btn-cancel" %>
        </div>

      <% end %>
    </div>
  </div>
  <%= image_tag("packmanf.png", class: "profile-bottom-image") %>
</main>
