<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
  <%= render 'layouts/header' %>

  <main class="main-content">
    <%= render 'layouts/flash' %> <!-- ここに移動！ -->

    <% unless current_page?(root_path) || controller_name == 'passwords' %>
      <%= render 'shared/breadcrumbs' %>
    <% end %>

    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
</body>
</html>
