<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>

    <main class="main-content">
      <% unless current_page?(root_path) || controller_name == 'passwords' %>
        <%= render 'shared/breadcrumbs' %>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
