<!DOCTYPE html>
<html>
  <head>
    <title>PetLayouts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav>
  <ul class="nav-menu">
    <% @categories.each do |category| %>
      <li class="dropdown">
        <%= link_to category.name, category_path(category) %>
        <% if category.subcategories.any? %>
          <ul class="dropdown-menu">
            <% category.subcategories.each do |sub| %>
              <li class="dropdown">
                <%= link_to sub.name, category_path(sub) %>
                <% if sub.subcategories.any? %>
                  <ul class="dropdown-menu">
                    <% sub.subcategories.each do |child| %>
                      <li><%= link_to child.name, category_path(child) %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

      <% if user_signed_in? %>
        <p><%= current_user.name %>さん、こんにちは！</p>
        <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path %> |
        <%= link_to "新規登録", new_user_registration_path %>
        <%= button_to "ゲストログイン", guest_sign_in_path, method: :post, class: "btn btn-secondary" %>
      <% end %>

      <% unless current_page?(root_path) %>
  <nav class="breadcrumb">
    <%= link_to "Home", root_path %> >
    <% if @recipe %>
      <% @recipe.category_hierarchy.each do |category| %>
        <%= link_to category.name, category_path(category) %>
        <% unless category == @recipe.category %> > <% end %>
      <% end %>
    <% elsif @category %>
      <% @category.self_and_ancestors.each do |category| %>
        <%= link_to category.name, category_path(category) %>
        <% unless category == @category %> > <% end %>
      <% end %>
    <% end %>
  </nav>
<% end %>
    </header>
    <%= yield %>
  </body>
</html>

